<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
            

        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/esther-alva-128181245/?lipi=urn%3Ali%3Apage%3Ad_flagship3_feed%3BHwI55Py6TEW4cxnILCfcQg%3D%3D" target="_blank"> <img src="../../../assets/linkedin.png" id="linkedin"></a>
            <a href="https://www.instagram.com/chinalva/" target="_blank"> <img src="../../../assets/instagram.png" id="instagram"></a>
            <a href="https://github.com/gonzalva" target="_blank"> <img src="../../../assets/github.png" id="github"> </a>
            <a href="https://www.facebook.com/esther.alva.96/about" target="_blank"><img src="../../../assets/facebook.png" id="facebook"></a>
            
            <button type="button" class="btn btn-outline-dark">INGRESO</button>
        </div>

    </div>

</div>

